<% include ../views/header %>
<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h1>The Bears</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%
        var b = bears;
        for(var i = 0; i < b.length; i++) {
      %>
        <div>Bear <%= i + 1 %></div>
        <div>Name: <%= b[i].name %></div>
        <div>Species: <%= b[i].species %></div>
        <div>Weight: <%= b[i].weight %></div>
        <div>Location: <%= b[i].location %></div>
        <div>Attitude: <%= b[i].attitude %></div>
        <button id="<%= b[i]._id %>" type="button" class="btn btn-danger delete">Delete</button>
        <div class="spacer30"></div>
      <% } %>
    </div>
    <div class="col-md-6">
      <h3>New Bear</h3>
      <form method="POST" action="/api/bears">
        <div class="form-group">
        <label for="name">Name
          <input id="name" class="form-control" type="text" name="name"></input>
        </label>
        </div>
        <div class="form-group">
          <label for="age">Age
            <input id="age" class="form-control" type="text" name="age"></input>
          </label>
        </div>
        <div class="form-group">
          <label for="species">Species
            <input id="species" class="form-control" type="text" name="species"></input>
          </label>
        </div>
        <div class="form-group">
          <label for="weight">Weight
            <input id="weight" class="form-control" type="text" name="weight"></input>
          </label>
        </div>
        <div class="form-group">
          <label for="location">Location
            <input id="location" class="form-control" type="text" name="location"></input>
          </label>
        </div>
        <div class="form-group">
          <label for="attitude">Attitude
            <input id="attitude" class="form-control" type="text" name="attitude"></input>
          </label>
        </div>
        <input type="submit" class="btn btn-default"></input>
      </form>
    </div>
  </div>
</div>
<% include ../views/footer %>
