<% include header %>
<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h1>The Bears</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%
        var b = bears;
        for(var i = 0; i < b.length; i++) {
      %>
        <div>Bear <%= i + 1 %></div>
        <div>Name: <%= b[i].name %></div>
        <div>Species: <%= b[i].species %></div>
        <div>Weight: <%= b[i].weight %></div>
        <div>Location: <%= b[i].location %></div>
        <div>Attitude: <%= b[i].attitude %></div>
        <button id="<%= b[i]._id %>" type="button" class="btn btn-danger delete">Delete</button>
        <div class="spacer30"></div>
      <% } %>
    </div>
  </div>
</div>
<% include footer %>
